body {
}

/* 게시물 영역 */
.community_main.view .post_area {
    
}

.community_main.view .post_area .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
}

.community_main.view .post_area .actions .category_btn {
    font-size: 0.875rem;
    border-radius: 0.25rem;
    color: rgb(102, 102, 102);
    background-color: rgb(245, 245, 245); 
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.community_main.view .post_area .actions .action_icons {
    display: flex;
    gap: 0.7rem;
}

.community_main.view .post_area .actions svg {
    cursor: pointer;
}

.community_main.view .post_area .writer_and_views {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}

.community_main.view .post_area .writer_and_views .writer_info {
    display: flex;
    justify-content: space-between;
}

.community_main.view .post_area .writer_and_views .writer_info .icon_img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background-color: darkgray; /* TODO */
    margin-top: 2px;
    margin-right: 8px;
}

.community_main.view .post_area .writer_and_views .writer_info .writer_name {
    font-weight: bold;
    font-size: 0.875rem;
}

.community_main.view .post_area .writer_and_views .writer_info .created_date {
    color: rgb(153, 153, 153);
    font-size: 0.8125rem;
    margin-left: 2px;
    margin-top: -4px;
}

.community_main.view .post_area .writer_and_views .view_count {
    color: rgb(153, 153, 153);
}

.community_main.view .post_area .post_title {
    font-size: 28px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    word-break: break-all;
    align-items: center;
    margin-bottom: 0.75rem;
}

.community_main.view .post_area .post_content {
    margin-bottom: 30px;
}

.community_main.view .post_area .tag_list {
    display: flex;
    height: 15px;
    gap: 0.8rem;
    margin-bottom: 10px;
}

.community_main.view .post_area .tag_item {
    display: flex;
    color: rgb(153, 153, 153);
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.community_main.view .likes_and_comment {
    display: flex;
    height: 52px;
    line-height: 52px;
    font-size: 1rem;
    font-weight: bold;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    color: rgb(153, 153, 153)
}

.community_main.view .likes_and_comment span {
    margin-right: 20px;
}

.community_main.view .post_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.community_main.view .post_buttons .item {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 34px;
    line-height: 34px;
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
    border-radius:  0.5rem;
    font-weight: 700;
    cursor: pointer;
}


/* 댓글 영역 */
.community_main.view .comments {
    
}

.community_main.view .comments .label {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

}

.community_main.view .comments .input_area {
    width: 100%;
    height: 46px;
    display: inline-flex;
    align-items: center;
    margin-top: 11px;
    white-space: nowrap;
}

.community_main.view .comments .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245,245,245);
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin-right: 10px;
}

.community_main.view .comments .input_area .container .anonymous  {
    
}
.community_main.view .comments .input_area .container .checkbox {
    
}
.community_main.view .comments .input_area .container .label  {
    font-size: 12px;
    color: #ec2756;
    
}

.community_main.view .comments .input_area .container .anonymous {
    width: 55px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}

.community_main.view .comments .input_area .container .anonymous {

}

.community_main.view .comments .input_area .container .comment_input {
    width: 530px;
    height: 44px;
    border-width: 0;
    outline: 2px solid transparent;
    background-color: rgb(245,245,245);
}

.community_main.view .comments .input_area .container .img_button {
    width: 20px;
    height: 21px;
}

.community_main.view .comments .input_area .comment_button {
    width: 120px;
    height: 46px;
    background-color: #333333;
    color: #ffffff;
    white-space : nowrap;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

.community_main.view .comments .comments_area {
    /* TODO 왜 안먹힐까 */
    margin-bottom: 20px;
}

.community_main.view .comments .comments_area .comments_list {
    margin-top: 11px;
}

.community_main.view .comments .comments_area .comments_list .comment_item {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head {
    display: flex;
    justify-content: flex-start;
    height: 30px;
}
.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .left {
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head div {
    all:unset;
    display: inline-block;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .icon_img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border-radius: 9999px;
    background-color: darkgray; /* TODO */
    /*margin-top: 2px;
    margin-right: 8px;*/
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .user_name {
    font-weight: bold;
    margin-bottom: 2px;
    margin-right: 3px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .post_writer {
    font-size: 8px;
    font-weight: bold;
    padding: 2px 6px;
    color: #ec2756;
    border: 1px solid #ec2756;
    border-radius: 15px;
    margin-right: 3px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .date {
    font-size: 9px;
    font-weight: bold;
    color: #999999;
    margin-left: 3px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .right {
    display: flex;
    align-items: center;
}
.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .delete_btn {
    font-size: 8px;
    font-weight: bold;
    padding: 2px 6px;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 15px;
    margin-right: 5px;
    margin-top: 3px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_head .options_btn {
    
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_body {
    margin-top: 2px;
    margin-left: 12px;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_body.deleted,
.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_body.blinded {
    font-size: 14px;
    font-weight: bold;
    color: #969696;
}

.community_main.view .comments .comments_area .comments_list .comment_item .comment_item_footer {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

}



.community_main.view .comments .page_area {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 게시판 영역 */
.community_main.view .board .selected {
    background-color: rgb(230,230,230);
}