body {
}

/* 게시물 영역 */
.community_main.view .post_area {
    
}

.community_main.view .post_area .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
}

.community_main.view .post_area .actions .category_btn {
    font-size: 0.875rem;
    border-radius: 0.25rem;
    color: rgb(102, 102, 102);
    background-color: rgb(245, 245, 245); 
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.community_main.view .post_area .actions .action_icons {
    display: flex;
    gap: 0.7rem;
}

.community_main.view .post_area .actions svg {
    cursor: pointer;
}

.community_main.view .post_area .writer_and_views {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}

.community_main.view .post_area .writer_and_views .writer_info {
    display: flex;
    justify-content: space-between;
}

.community_main.view .post_area .writer_and_views .writer_info .icon_img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background-color: darkgray; /* TODO */
    margin-top: 2px;
    margin-right: 8px;
}

.community_main.view .post_area .writer_and_views .writer_info .writer_name {
    font-weight: bold;
    font-size: 0.875rem;
}

.community_main.view .post_area .writer_and_views .writer_info .created_date {
    color: rgb(153, 153, 153);
    font-size: 0.8125rem;
    margin-left: 2px;
    margin-top: -4px;
}

.community_main.view .post_area .writer_and_views .view_count {
    color: rgb(153, 153, 153);
}

.community_main.view .post_area .post_title {
    font-size: 28px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    word-break: break-all;
    align-items: center;
    margin-bottom: 0.75rem;
}

.community_main.view .post_area .post_content {
    margin-bottom: 30px;
}

.community_main.view .post_area .tag_list {
    display: flex;
    height: 15px;
    gap: 0.8rem;
    margin-bottom: 10px;
}

.community_main.view .post_area .tag_item {
    display: flex;
    color: rgb(153, 153, 153);
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.community_main.view .likes_and_comment {
    display: flex;
    height: 52px;
    line-height: 52px;
    font-size: 1rem;
    font-weight: bold;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    color: rgb(153, 153, 153)
}

.community_main.view .likes_and_comment span {
    margin-right: 20px;
}

.community_main.view .post_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.community_main.view .post_buttons .item {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 34px;
    line-height: 34px;
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
    border-radius:  0.5rem;
    font-weight: 700;
    cursor: pointer;
}


/* 댓글 영역 */
.community_main.view .comments {

}

.community_main.view .comments .label {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.community_main.view .comments .input_area {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
}

.community_main.view .comments .comments_area {

}

.community_main.view .comments .comments_area .comment_item {
    background-color: bisque;

}

.community_main.view .comments .page_area {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

