a {
    text-decoration: none;
    color: #333333;
}

/*
a:hover {
    text-decoration: underline;
    color: #0d6ef;
}
*/

.nav-item:hover {
    background-color: #C4C4C4;
}

.nav-item.selected {
    background-color: antiquewhite;
}

.search_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 15px;
}

/* 검색 창 -------------------------- */
.search_box .search_filter_drop {
    width: 120px;
    margin-right: 15px;
}

.search_box .search_word_input {
    width: 300px;
    margin-right: 10px;
}

.search_box .search_button {
    width: 120px;
    height: 30px;
    margin-top: -3px;
    margin-right: 10px;
}

/* 페이지 인디케이터 ---------------- */
.page_indicator {
    margin-top: 20px;
    text-align: center;
}

.page_indicator a {
    color: #C4C4C4;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.page_indicator a.selected {
    color: #000000;
}
