
.login_page {
   /*background-color: aliceblue;*/
   display: flex;
   justify-content: center;
}

.login_page .login_container {
    width: 500px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: antiquewhite;*/
}

.login_page .login_container .login_form {
    width: 300px;
    height: 270px;
    /*background-color: aquamarine;*/
    border-radius: 10px;
    border: 1px solid green;
    margin-bottom: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page .login_container .login_form .logo {
    width: 100px;
    height: 100px;
    /*background-color: cornflowerblue;*/
    display: inline-block;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.login_page .login_container .login_form .id_pw_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page .login_container .login_form .text_box {
    /*all:unset;*/
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.login_page .login_container .login_form .login_btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.login_page .login_container .sns_login_btn {
    width: 300px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 1px solid green;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

