.manage_post_index {
    /*width: fit-content;*/
    display: flex;
    margin-top: 100px;
    width: 1300px;
}

.manage_post_index .title_anchor {
    /*text-decoration: none;*/
    /*color: #333333;*/
    display: block;
    width: fit-content;
}

/* index_main ----------------------------------------------------------- */
.manage_post_index .index_main {
    width: 1300px;
}

.post_list_container {

}

.post_list {
    
}

.post_list .total_count {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post_list .item {
    display: flex;
    font-size: 13px;
    /*flex-direction: column;*/
    /*text-align: center;*/

    /*text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;*/
}

.post_list .labels {
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    font-weight: bold;
    font-size: 13px;
}

.post_list .post {
    border-bottom: 1px solid rgb(225 225 225);
}

.post_list .post.master {
    background-color: rgb(255,232,232);
}

.post_list .post.deleted {
    background-color: #e6e6e6;
}
/* 취소선을 일괄 적용하고 버튼에는 적용하지 않으려고 none 설정했으나 
    버튼에 none 이 적용되어도 계속 취소선이 그려지는 문제가 있어서 항목 각각 적용함... */
/*.post_list .post.deleted {
    text-decoration: line-through;
}
.post_list .post.deleted button {
    text-decoration: none !important;
}
*/

.post_list .item .id {
    width: 90px;
    min-width: 90px;
    margin-right: 10px;
    padding: 5px 10px;
}
.post_list .item .id.deleted {
    text-decoration: line-through;
}

.post_list .item .board_name {
    width: 100px;
    min-width: 100px;
    margin-right: 10px;
    padding: 5px 1px;
}
.post_list .item .board_name.deleted {
    text-decoration: line-through;
}

.post_list .item .title {
    width: 300px;
    min-width: 300px;
    margin-right: 10px;
    padding: 5px 1px;
}
.post_list .item .title.deleted {
    text-decoration: line-through;
}

.post_list .item .comment {
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
    padding: 5px 10px;
}
.post_list .item .comment.deleted {
    text-decoration: line-through;
}

.post_list .item .writer {
    width: 90px;
    min-width: 90px;
    margin-right: 10px;
    padding: 5px 10px;
}
.post_list .item .writer.deleted {
    text-decoration: line-through;
}

.post_list .item .name {
    width: 150px;
    min-width: 150px;
    margin-right: 10px;
    padding: 5px 1px;
}
.post_list .item .name.deleted {
    text-decoration: line-through;
}

.post_list .item .date {
    width: 100px;
    min-width: 100px;
    margin-right: 10px;
    padding: 5px 1px;
    text-align: center;
}
.post_list .item .date.deleted {
    text-decoration: line-through;
}

.post_list .item .views {
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
    padding: 5px 1px;
    text-align: center;
}
.post_list .item .views.deleted {
    text-decoration: line-through;
}

.post_list .item .edit_button {
    width: 60px;
    min-width: 60px;
    margin-right: 5px;
    padding: 5px 1px;
    text-align: center;
}

/* index_right ----------------------------------------------------------- */
.manage_post_index .index_right {
    width: 200px;
    margin-left: 50px;
}

/* 게시물 정보 에디터 */
/*
.post_editor {
    width: 400px;
    height: 400px;
    margin-top: 44px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 28px;
}

.post_editor.master {
    background-color: rgb(255,232,232);
}

.post_editor.deleted {
    background-color: #e6e6e6;
}

.post_editor .detail_row {
    margin-bottom: 7px;
}

.post_editor .detail_row label {
    width: 130px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.post_editor .detail_row input {
    padding-left: 7px;
}

.post_editor .buttton_list {
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
}
*/